.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: 1;
  transform: scale(0.8) translateY(-0.2rem) translateX(1rem);
  padding: 0 2px;
  margin: 0 4px;
  color: rgb(46, 13, 13);
  background-color: #fbf6f6;
  font-size: .9rem;
  border-radius: 5px;
  border: 1px solid rgb(209, 146, 29);
  height: auto;
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(33, 37, 41);
  background-color: rgb(190 169 255 / 73%);
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.img{
  border-radius: 75px;
  background: url("about-3.jpeg") no-repeat center/cover;
  /* background-size: 100% 100%; */
  /* background-size:100; */
  /* background-position:left; */
}

.hader{
  /* margin-top: 50px; */
  display: none;
  border-radius: 10px;
  background-color: rgb(102, 26, 102);
}
.hader-2{
  margin-top: 50px;
  border-radius: 10px;
  /* background-color: rgb(102, 26, 102); */
}
label.addLable {
  transform: scale(0.8) translateY(-0.9rem) translateX(1rem) !important;
  font-size: 1rem !important;
}

.names ,.h-75 {
  height: 40px !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: rgb(233, 186, 100);
  border: 2px solid rgb(255, 166, 0)  ;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 1.1rem;
  padding-bottom: .625rem;
  font-size: .9rem;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.0rem);
  padding-left: var(--bs-gutter-x,.0rem);
  margin-right: auto;
  margin-left: auto;
}

label {
  color: white;
}

.row>* {
  padding-left: 0;
}

#gender {
  padding: 0;
  font-size: 1.1rem;
}

.addLable label {
  font-size: 1.3rem;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
form i {
  margin-left: 83%;
  cursor: pointer;
  margin-top: -34px;
  position: absolute;
}
textarea{
  border : 1px solid rgb(195, 192, 192)
}



#tags {
  float: left;
  /* border: 1px solid #ccc; */
  padding: 4px;
  font-family: Arial;
}

#tags span.tag {
  cursor: pointer;
  display: block;
  float: left;
  color: rgb(255, 245, 245);
  background: rgb(61, 61, 61);
  padding: 5px 5px;
  padding-right: 30px;
  border-radius: 5px;
  margin: 4px;
}

#tags span.tag:hover {
  opacity: 0.7;
}

#tags span.tag:after {
  position: absolute;
  content: "×";
  border: 1px solid;
  border-radius: 10px;
  padding: 0 4px;
  margin: 3px 0 10px 7px;
  font-size: 10px;
}

#tags input {
  background: #eee;
  border: 0;
  margin: 3px;
  padding: 4px;
  width: 100px;
}
.pin-c>label.m-3 {
  font-size: 1rem;
}
/* body{
      background: url("about-1.jpg")no-repeat center/cover;
  } */
.disp{

  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);;
  }
.form-floating>label {
  color: black;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0);
  background-clip:border-box;
  border: 0px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0rem;
}

.disp {
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 5px;
  /* box-shadow: 2px 2px 2px 2px #302e2e; */
  /* padding: 2 px; */
} 

@media (min-width:1000px) {
  .container.my-4 {
    max-width: 70%;
    /* min-width: 100%; */
  }
  form i {
    margin-left: 83%;
    cursor: pointer;
    margin-top: -34px;
    position: absolute;
  }
}
@media (max-width:999px) {
  .img{
    display: none;
  }
  .hader{
    /* margin-top: 50px; */
    display: block;
    border-radius: 10px;
    background-color: rgb(102, 26, 102);
  }
}

span {
  color: red;
  font-size: .8rem;
  display: none;
}


/* ---------------------- */
input#pinCode {
  background-color: white;
}

span {
  /* margin: 4px; */
  background-color: #00000036;
  font-weight: 600;
  color: red;
  border-radius: 3px;
  font-size: .8rem;
  display: none;
  /* text-align: center; */
}
#address>.form-floating>.form-control{
  background-color: transparent !important;
}

#pagination {
  justify-content: space-between;
  display: flex;
  padding-left: 0;
  list-style: none;
}
#pagesNumberOfData{
  /* margin: 2%; */
  /* padding: 1%; */
  width: auto ;

}
/* dl, ol, ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */